.js-reg, .js-log {
    margin-top: 50px; 
    border: 2px black solid; 
    padding: 20px; 
}

.js-reg {
    margin-right: 100px;
}

.js-form-label {
    margin-bottom: 20px;
}

.button-js {
    margin-top: 10px;
}

.red {
    color: red;
}

.js-table-head {
    font-size: 22px;
}

.js-nav-left {
    font-size: 30px;
    border: 2px solid rgb(53, 127, 238);
    background-color: rgb(53, 127, 238);
    padding: 3px 10px;
}

.js-nav-right {
    font-size: 26px;
}

.js-h1 {
    margin-top: 20px;
    margin-left: 20px;
}

.js-edit {
    margin: 20px 40px;
}

.js-date {
    margin: 60px 0;
}

.js-form-space {
    margin-top: 10px;
}

.js-create-btn {
    width:150px;
}